/* Case Selection */

.selectCase {
  position: relative;
  user-select: none;
}

.selectCase .container {
  position: sticky;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-right: 5%;
  cursor: pointer;
}

.selectCase h3 {
  margin: 0;
  font-size: 1.1em;
}

.selectCase .caseType {
  font-weight: 600;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #f3f1f3;
  padding: 1rem;
  background-color: #fff;
}

.selectCase .caseType:first-child {
  border-radius: 5px 5px 0 0;
}

.selectCase .caseType:last-child {
  border-radius: 0 0 5px 5px;
}

.selectCase .caseType:hover {
  background-color: #fafafa;
}

.selectCase .caseType.active:hover {
  background-color: #fff;
}

.selectCase .active {
  color: #4b64be;
}

.selectCase .caseType .caseTypeNavigation {
  color: rgb(50, 50, 50);
  display: none;
  margin: 0;
}

.selectCase .caseType.active .caseTypeNavigation {
  margin: 20px 0 0 10%;
  display: block;
}

.selectCase .caseType .caseTypeNavigation h3 {
  color: rgb(100, 100, 100);
  height: 50px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #f3f1f3;
}

.selectCase .caseType .caseTypeNavigation h3:first-child {
  border-top: 0;
}

.selectCase .caseType .caseTypeNavigation h3:hover {
  color: rgb(50, 50, 50);
}

/* Mobile */
@media (max-width: 768px) {
  .cases {
    display: block;
  }

  .selectCase {
    margin-bottom: 30px;
    width: 100%;
    overflow: scroll;
    position: unset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }

  .selectCase .container {
    width: max-content;
    min-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
  }

  .selectCase .caseType {
    min-width: 20vw;
    text-align: center;
  }

  .selectCase .caseType .caseTypeNavigation {
    display: none !important;
  }
}
